body{
   background: rgba(76, 175, 80, 0.1)
}
#myname {Color:pink; background-color: purple;font-family: 'Indie Flower', cursive;
}
.headline {Color:pink; background-color: purple;
}
h2 {
  color:purple;
background:pink
}

.img-circle {
    border-radius: 50%;
    box-shadow: 10px 10px 5px grey;
  }
  blockquote{
    color:pink
  }
  .intro{color: purple; font-style: italic;}

  li {color: Green;
}
#navi{
  width: 1300;
  height: 100px;
  background: url(Forest.jpg);
  background-size: cover;
  text-align: center;



}
#nav_wrapper{
  height: 50;
  width: 1300;
  background: lightpink;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  opacity: 0.7;
  filter: alpha (opacity=70)

}

#nav_wrapper ul li{
  list-style: none;
  display: inline;
  font-weight: bold;
  padding: 10px;
}

#nav_wrapper a{
  color: white;
  text-decoration: none;
  padding: 10px;
}
#nav_wrapper ul li:hover{
  background: red;
  transition: all 0.45s
  opacity: 0.9;
  filter: alpha (opacity=90);

}
